In [55]:
import pandas as pd
import numpy as np
import io
from sklearn.model_selection import train_test_split
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
data = pd.read_csv('/content/Telco-Customer-Churn.csv')
df = pd.DataFrame(data)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [32]:
df.shape

(7043, 21)

In [3]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [4]:
display(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [28]:
df['TotalCharges'] = df['TotalCharges'].replace(' ',np.nan).fillna(0)

In [29]:
df['TotalCharges'] = df['TotalCharges'].astype(float)

In [46]:
df['Churn'] = pd.Series(np.where(df.Churn.values == 'Yes', 1, 0), df.index)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

In [49]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges        Churn
count    7043.000000  7043.000000     7043.000000   7043.000000  7043.000000
mean        0.162147    32.371149       64.761692   2279.734304     0.265370
std         0.368612    24.559481       30.090047   2266.794470     0.441561
min         0.000000     0.000000       18.250000      0.000000     0.000000
25%         0.000000     9.000000       35.500000    398.550000     0.000000
50%         0.000000    29.000000       70.350000   1394.550000     0.000000
75%         0.000000    55.000000       89.850000   3786.600000     1.000000
max         1.000000    72.000000      118.750000   8684.800000     1.000000

In [47]:
for cols in df.select_dtypes(include=['object']).columns:
    print(cols)
    print(
        np.unique(df[cols],
                  return_counts=True)
    )

customerID
(array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object), array([1, 1, 1, ..., 1, 1, 1]))
gender
(array(['Female', 'Male'], dtype=object), array([3488, 3555]))
Partner
(array(['No', 'Yes'], dtype=object), array([3641, 3402]))
Dependents
(array(['No', 'Yes'], dtype=object), array([4933, 2110]))
PhoneService
(array(['No', 'Yes'], dtype=object), array([ 682, 6361]))
MultipleLines
(array(['No', 'No phone service', 'Yes'], dtype=object), array([3390,  682, 2971]))
InternetService
(array(['DSL', 'Fiber optic', 'No'], dtype=object), array([2421, 3096, 1526]))
OnlineSecurity
(array(['No', 'No internet service', 'Yes'], dtype=object), array([3498, 1526, 2019]))
OnlineBackup
(array(['No', 'No internet service', 'Yes'], dtype=object), array([3088, 1526, 2429]))
DeviceProtection
(array(['No', 'No internet service', 'Yes'], dtype=object), array([3095, 1526, 2422]))
TechSupport
(array(['No', 'No internet service', 'Yes'], dtype=object), array([3473, 1526, 2044]))
StreamingTV
(array(['No', 'No internet service', 'Yes'], dtype=object), array([2810, 1526, 2707]))
StreamingMovies
(array(['No', 'No internet service', 'Yes'], dtype=object), array([2785, 1526, 2732]))
Contract
(array(['Month-to-month', 'One year', 'Two year'], dtype=object), array([3875, 1473, 1695]))
PaperlessBilling
(array(['No', 'Yes'], dtype=object), array([2872, 4171]))
PaymentMethod
(array(['Bank transfer (automatic)', 'Credit card (automatic)',
       'Electronic check', 'Mailed check'], dtype=object), array([1544, 1522, 2365, 1612]))

In [50]:
# Dropando as colunas que tem muitos informaÃ§Ãµes Ãºnicas para minimizar o dummies

df_dropped = (
    df.drop(columns=['customerID'])
)

In [51]:
df_dummyfied = pd.get_dummies(df_dropped)
df_dummyfied

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,0,0,1,0,1,0,...,1,0,1,0,0,1,0,0,0,1
7039,0,72,103.20,7362.90,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1,0,0
7040,0,11,29.60,346.45,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
7041,1,4,74.40,306.60,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
7042,0,66,105.65,6844.50,0,0,1,1,0,1,...,1,0,0,1,0,1,1,0,0,0

In [52]:
df_dummyfied.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes',
       'Dependents_No', 'Dependents_Yes', 'PhoneService_No',
       'PhoneService_Yes', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No', 'OnlineBackup_No internet service',
       'OnlineBackup_Yes', 'DeviceProtection_No',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaperlessBilling_No', 'PaperlessBilling_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [53]:
# Separando as features do dataset e a target

features_raw = df_dummyfied.drop(columns=['Churn'])

target_raw = df_dummyfied['Churn']

# Sanity check
print('Tamanho do DF das features: ' + str(features_raw.shape))
print('Tamanho do DF da target: ' + str(target_raw.shape))

Tamanho do DF das features: (7043, 45)
Tamanho do DF da target: (7043,)

In [56]:
X_train, X_test, y_train, y_test = train_test_split(features_raw,
                                                    target_raw,
                                                    test_size = 0.1,
                                                    random_state = 42,
                                                    stratify = target_raw)

# Sanity check
print('Tamanho do dataset de treino: ' + str(len(y_train)))
print('Tamanho do dataset de teste: ' + str(len(y_test)))
print('ProporÃ§Ã£o da target no treino: ' + str(y_train.values.sum()/len(y_train)))
print('ProporÃ§Ã£o da target no teste: ' + str(y_test.values.sum()/len(y_test)))

# Check de consistÃªncia
assert len(y_train)+len(y_test) == len(target_raw)

Tamanho do dataset de treino: 6338
Tamanho do dataset de teste: 705
ProporÃ§Ã£o da target no treino: 0.2653834017040076
ProporÃ§Ã£o da target no teste: 0.2652482269503546

correlaÃ§Ã£o de charges com cancelamento
proporÃ§Ã£o de cancelamento entre os gÃªneros, seniorcitizen e familia (partner e dependents)
grÃ¡fico de coluna do tenure